<%= content_tag :ul, class: 'tasks' do %>
  <%= content_tag :li, id: "task-#{task.id}" do %>
    <%= link_to task, method: :delete, remote: true do %>
      <i class="fa fa-trash"></i>
    <% end %>
    <span><%= task.description %></span>
    <span id="time-remaining"><%= task.days_left %> days left</span>
  <% end %>
<% end %>
