<div class = "profile">

  <div class="list-header">
    <h3 class="media-heading caps"><%= @user.name %></h3>
  </div>

  <div class="cf gray-box">
    <ul class="profile-ul">
      <li>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <strong>Member Since:</strong>
        <span class="profile-list"><%= @created_date %></span>
      </li>
      <li>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <strong> Current Tasks: </strong>
          <%= link_to authenticated_root_path, :class => 'caps' do %>
            <span class="profile-list"><%= pluralize(@user.tasks.count,'task') %></span>
          <% end %>
      </li>

    </ul>
  </div>
  <div class="prof-buttons"><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary btn-default" %></div>

</div>
