<!DOCTYPE html>
<html>
<head>
  <title>PrioritEase</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'icon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <div class="navbar navbar-fixed-top top-bar">

      <div class="row">

        <div class="nav-left col-xs-8">
          <div class="main-logo">
            <a id="link-home" href="/"></a>
          </div>
        </div>

        <div class="col-xs-4 nav-right">
          <% if user_signed_in? %>
            <%= render partial: 'layouts/nav' %>
          <% else %>
            <div class="pull-right">
              <ul id="not-logged-in">
                <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link caps'  %></li>
                <li> | </li>
                <li> <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link caps'  %></li>
              </ul>
            </div>
          <% end %>
         </div>
       </div>

     </div>
  </div>

  <div class="wrapper">

    <div class="container page-content">
      <div class="row">
          <%= yield %>
      </div>
    </div>


    <div class="footer">
    <span id="footer-text"> Created by Todd Channick
        <span id="social"><a href="https://github.com/toddchannick" title="GitHub" target="_blank"><i class="social fa fa-github fa-lg"></i></a></span>
    </span>
  </div>

 </div>

</body>
</html>
